body {
  font-family:
    PingFang TC,
    黑體-繁,
    Heiti TC,
    蘋果儷中黑,
    Apple LiGothic Medium,
    微軟正黑體,
    Microsoft JhengHei,
    sans-serif !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1.25rem;
}

.position-fixed {
  @media screen and (max-width: 767px) {
    bottom: 6rem;
    z-index: 999;
    position: fixed;
    width: calc(100% - 4rem);
    left: 2rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
}

.d-inline-block {
  display: inline-block;
}

.desktop--hide {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.table-responsive {
  @media screen and (min-width: 767px) {
    min-height: calc(100vh - 276px);
  }
}

.mobile--hide {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.form-group {
  select {
    min-height: 40px;
    font-size: 1.75rem;
  }

  input {
    padding-left: 8px;
    min-height: 40px;
  }
}

a {
  cursor: pointer;
}

select {
  transform: translateY(1px);
}

.center {
  text-align: center;
}

.control {
  padding: 1.25rem;
  border-radius: 4px;

  input,
  select {
    border-radius: 4px;
    padding-right: 0.75rem;
    border: none;
    outline: none;
  }

  span,
  label {
    font-size: 2rem;
    font-weight: 700;
  }

  .column-name {
    display: inline-block;
    min-width: 8.5rem;
  }

  .control__swap {
    border: 1px solid #fff;
    border-radius: 6px;
    background: none;
    margin: 0 0.5rem;
  }
}

.pointer {
  cursor: pointer;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  transform: translate(2px, -2px);
}

.arrow--asc {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.75rem solid #666;
}

.arrow--dsc {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.75rem solid #666;
}

a:focus,
a:hover {
  text-decoration: none;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

.table-responsive {
  overflow: initial;
  overflow-x: unset;
}

thead {
  height: 2rem;
}

th {
  // background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: light) {
  th {
    background: white;
    color: #121212;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .active {
    background-color: #dfdfdf;
  }

  .control {
    background-color: rgba(#dd5500, 0.8);

    span,
    label {
      color: #fff;
    }

    .control__swap {
      color: #fff;
    }
  }

  .pointer {
    &:hover {
      background-color: #dfdfdf;
    }

    &:focus {
      background-color: #dfdfdf;
    }
  }
}

@media (prefers-color-scheme: dark) {
  th {
    background: #121212;
    color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  body {
    background-color: #121212;
    color: #ffffff;
  }

  .control {
    color: #121212;
  }

  .active {
    background-color: #dfdfdf;
  }

  .control {
    background-color: rgba(#dd5500, 0.8);

    span,
    label {
      color: #fff;
    }

    .control__swap {
      color: #fff;
    }
  }

  .pointer {
    &:hover {
      background-color: #333333;
    }

    &:focus {
      background-color: #333333;
    }
  }

  .arrow--asc {
    border-bottom: 0.75rem solid #efefef;
  }

  .arrow--dsc {
    border-top: 0.75rem solid #efefef;
  }
}

.footer {
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #333333;
  width: 100%;
}

.google-ad {
  max-width: 100%;
  min-height: 130px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .google-ad {
    width: 100%;
    max-width: 100%;
    min-height: 130px;
    overflow: hidden;
  }

  .google-auto-placed {
    overflow: hidden;
    min-height: 130px;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

hr {
  border-top: 2px solid rgba(#fff, 0.5);
}

.button-gift {
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;

  span {
    color: #dd5500;
  }
}
